/* clicker categories boxes */

[class ^= "categorie_intro_list_"]
{
	font-family: 'Raleway', sans-serif;
	font-size : 25px;
	display: inline;
	width: 299px;
	height: 88px;
	position:relative;
	float:left;
	text-align: center;
	padding: 5px;
	margin: 1px;
}

[class ^= "categorie_intro_list_"]:hover
{
	transition: 0.3s;
	opacity: 0.7;
	cursor: pointer;
}


/* description list boxes */

[class ^= "list_describe_"]
{
	height: 350px;
	padding: 15px;
}

.categorie_intro_list_2, .list_describe_2
{
	background-color: #c5d5c5;		/* light grey-green */
	color : #364a36;
}

.categorie_intro_list_1, .list_describe_1
{
	background-color: #7e7d67;		/* brown */
	color : #eaece5;
}

.categorie_intro_list_0, .list_describe_0
{
	background-color: #eaece5;		/* light grey */
	color : #454a36;
}

.list_describe_2
{
	background-color: rgba(197, 213, 197, 0.7);
}

/* MEDIA QUERIES */

@media all and (min-width: 2330px)
{
	[class ^= "categorie_intro_list_"]
	{
		width: 23%;
		font-size: 30px;
	}
}


@media all and (min-width: 1930px) and (max-width: 2330px)
{
	[class ^= "categorie_intro_list_"]
	{
		width: 23%;
		font-size: 30px;
	}
	
}

@media all and (min-width: 1570px) and (max-width: 1930px)
{
	[class ^= "categorie_intro_list_"]
	{
		width: 23%;
	}
	
}

@media all and (min-width: 1270px) and (max-width: 1570px)
{
	[class ^= "categorie_intro_list_"]
	{
		width: 23%;

	}
}

@media all and (min-width: 1170px) and (max-width: 1270px)
{
	[class ^= "categorie_intro_list_"]
	{
		width: 23%;

	}
}

@media all and (min-width: 1070px) and (max-width: 1170px)
{
	[class ^= "categorie_intro_list_"]
	{
		width: 23%;
		height: 110px;

	}

	[class ^= "list_describe_"]
	{
		height: 450px;
	}
}

@media all and (min-width: 950px) and (max-width: 1070px)
{
	[class ^= "categorie_intro_list_"]
	{
		width: 23%;
		height: 110px;
	}

	[class ^= "list_describe_"]
	{
		height: 450px;
	}
}


@media all and (min-width: 768px) and (max-width: 950px)
{
	[class ^= "categorie_intro_list_"]
	{
		font-size: 20px;
		width: 23%;
		height: 130px;
	}

	[class ^= "list_describe_"]
	{
		height: 450px;
	}
}

/* mobile break point */
@media all and (min-width: 640px) and (max-width: 768px)
{
	[class ^= "categorie_intro_list_"]
	{
		width: 45%;
		height: auto;
		height: 60px;
	}

	[class ^= "list_describe_"]
	{
		height: 600px;
	}
}

@media all and (min-width: 370px) and (max-width: 640px)
{
	[class ^= "categorie_intro_list_"]
	{
		font-size: 20px;
		width: 45%;
		height: auto;
		min-height: 75px;
	}

	[class ^= "list_describe_"]
	{
		height: 600px;
	}
}

@media all and (max-width: 370px)
{
	[class ^= "categorie_intro_list_"]
	{
		font-size: 18px;
		width: 45%;
		height: auto;
		min-height: 110px;
	}

	[class ^= "list_describe_"]
	{
		height: 1000px;
	}
}

