/* categories */
.div_categorie_list
{
	margin: auto;
	align-items: center;
	margin-top: 10px;
	padding: 10px;
	background-color: black;
	background-image: url("42-bg.gif");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right center;
}

.div_categorie_list h2
{
	color: white;
	color: #39d88f;
}

.categorie_subtitle
{
	font-size: 12px;
	padding-bottom: 25px;
}

.div_categorie_list .boxes
{
	width: 22%;
	display: inline-block;
	padding: 10px;
	margin: 5px;
}

.div_categorie_list .list
{
	padding-bottom: 20px
}

.sub_description_title
{
	padding: 2px;
	font-size: 18px;
}

.description_content
{
	font-size: 13px;
}

@media all and (min-width: 760px) and (max-width: 980px)
{

}

@media all and (min-width: 615px) and (max-width: 760px)
{
	.div_categorie_list .boxes
	{
		width: 27%;
	}
}

@media all and (min-width: 480px) and (max-width: 615px)
{
	.div_categorie_list .boxes
	{
		width: 40%;
	}
}

@media all and (max-width: 480px)
{
	.div_categorie_list .boxes
	{
		width: 40%;
	}

}
