@keyframes defile
{
	from {background-position: 0px 0px;}
	to {background-position: 1600px 0px;}	/* size of the image */
}

body
{
	margin: 0px;
	font-size: 18px;
	font-family: 'Raleway';
	word-wrap: break-word;
	hyphens: auto;
	background-color: rgba(197, 213, 197);
}

img
{
	max-width: 100%;
}

a
{
	text-decoration: none;
	color: white;
}

a:hover
{
	color: #d9ad7c;
	text-shadow: 1px 1px black;
}

h1
{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 45px;
}

h4
{
	padding: 10px;
}

ul
{
	list-style-type: circle;
}

/* header */

div[class^="zone"]
{
	margin: 0px;
	max-width: 100%;
	padding : 10px;
}

.zone_header
{
	color: #f0f0f0;				/* light yellow */
	background-image: linear-gradient(to bottom, rgba(255, 255, 255,0.2) 0%,rgba(255, 255, 255,0.2) 100%), url('orange.jpg');
	animation: defile 10s;
}

/* introduction */

.zone_intro
{
	background-color: #201813;	/* brown */
	display: block;
	margin: auto;
}

/* ahead button */
#ahead_button
{
	color: white;
	text-shadow: 1px 1px #201813;
	position: fixed;
	bottom: 10px;
	right: 10px;
	font-size: 90px;
	transition: 0.3s;
}

#ahead_button:hover
{
	cursor: pointer;
	transition: 0.3s;
}

@media all and (min-width: 2330px)
{
	div[class^="zone"]
	{
		height: 200px;
	}
}

@media all and (min-width: 1930px) and (max-width: 2330px)
{
	div[class^="zone"]
	{
		height: 200px;
	}
}

@media all and (min-width: 1570px) and (max-width: 1930px)
{
	div[class^="zone"]
	{
		height: 200px;
	}
}

@media all and (min-width: 1270px) and (max-width: 1570px)
{
	div[class^="zone"]
	{
		height: 200px;
	}
}

@media all and (min-width: 1170px) and (max-width: 1270px)
{
	div[class^="zone"]
	{
		height: 200px;
	}
}

@media all and (min-width: 1070px) and (max-width: 1170px)
{
	.zone_intro
	{
		height: 250px;
	}
}

@media all and (min-width: 950px) and (max-width: 1070px)
{
	.zone_intro
	{
		height: 250px;
	}
	
}

@media all and (min-width: 768px) and (max-width: 950px)
{
	.zone_intro
	{
		height: 300px;
	}
}

@media all and (min-width: 640px) and (max-width: 768px)
{
	.zone_intro
	{
		height: 300px;
	}
}

@media all and (min-width: 370px) and (max-width: 640px)
{
	.zone_intro
	{
		height: 350px;
	}
}

@media all and (max-width: 370px)
{
	.zone_intro
	{
		height: 500px;
	}
}
