body
{
	margin: 0px;
	font-size: 18px;
	font-family: arial;
}

img
{
	max-width: 100%;
}

div.info
{
	text-align: left;
	display: inline-block;
}

img.logo
{
	height: 250px;
}

div.title
{
	height: 300px;
	background: #99ccff;
}