body
{
	margin: 0px;
	font-size: 18px;
	font-family: arial;
}

img
{
	max-width: 100%;
}

/*
** TITLE PART
*/

div.title
{
	height: 350px;
	background: #99ccff;
}

div.banner
{
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	margin: auto;
	text-align: center;
	box-shadow: 0px 2px white, 0px 8px #008ae6, 0px -2px white, 0px -8px #008ae6;
	height: 30px;
	color: white;
	background: #0099ff;
}

div.info_img
{
	padding-left: 50px;
	padding-bottom: 30px;
	display: inline-block;
}

div.info_txt
{
	padding-left: 50px;
	color: #f2f2f2;
	text-align: left;
	display: inline-block;
}

div.info_name
{
	padding-bottom: 25px;
	color: white;
	font-size: 30px;
}

img.logo
{
	height: 250px;
}

/*
** BODY PART
*/

div.boxes
{
	display: inline-block;
}

#description_box
{
	vertical-align: top;
	display: inline-block;
	color: #669999;
	margin: 10px;
	background: #cce6ff;
	width: 400px;
	padding: 20px 10px 20px 20px;
}

#school
{
	display: none;
}

#langages_de_prog
{
	display: none;
}

span.box_title
{
	font-weight: bold;
	font-size: 20px;
	color: #0099ff;
}

@media all and (min-width: 1200px)
{
	#description_box
	{
		width: 500px;
	}

	div.title
	{
		height: 375px;
	}

	div.banner
	{
		font-size: 25px;
		height: 40px;
	}

	div.info_name
	{
		font-size: 35px;
	}

	span.box_title
	{
		font-size: 24px;
	}
}

@media all and (max-width: 950px)
{
	#description_box
	{
		width: 300px;
	}

	div.banner
	{
		font-size: 18px;
		height: 25px;
	}

	span.box_title
	{
		font-size: 17px;
	}
}

@media all and (max-width: 600px)
{
	div.title
	{
		height: 320px;
	}

	#description_box
	{
		width: 100%;
		display: block;
	}

	div.boxes
	{
		display: block;
	}

	div.info_name
	{
		font-size: 18px;
	}

	div.info_txt
	{
		padding-left: 25px;
		font-size: 15px;
	}

	img.logo
	{
		height: 200px;
	}


}
