.description {
  opacity: 0.8;
  background-color: white;
  width: 50vw;
  margin: auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  /* box-shadow: 0px 0px 10px #000066 inset; */
  /* border-radius: 20px 0px 20px 0px; */
}

#spanDate {
  color: #000066;
  font-size: 50px;
}

#spanLocation {
  color: #660066;
  font-size: 30px;
}
