/* description boxes */
.describe_title
{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 35px;
	font-weight: bold;
	text-shadow: 3px 2px 2px rgba(83, 87, 90, 1);
}

/* description types */

/* boxes */
[class^=description_boxes]
{
	float: left;
	border: 1px solid #3b3a30;
	width: 23%;
	height: 80px;
	margin: 2px;
	padding: 5px;
	transition: 0.3s;
}

[class^=description_boxes]:hover
{
	background-color: #3b3a30;
	opacity: 0.7;
	transition: 0.3s;
}

.description_boxes_2
{
	border: 1px solid #eaece5;
}

.description_boxes_2:hover
{
	background-color: #eaece5;
}

/* lists */
.description_list
{
}


/* desctiption write */

.sub_description_title
{
	opacity: 1;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: bold;
}

.description_content
{
	opacity: 1;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: thick;
}

@media all and (min-width: 2330px)
{

}

@media all and (min-width: 1930px) and (max-width: 2330px)
{

}

@media all and (min-width: 1570px) and (max-width: 1930px)
{

}

@media all and (min-width: 1270px) and (max-width: 1570px)
{

}

@media all and (min-width: 1170px) and (max-width: 1270px)
{

}

@media all and (min-width: 1070px) and (max-width: 1170px)
{
	[class^=description_boxes]
	{
		width: 31%;
		height: 80px;
	}

}

@media all and (min-width: 950px) and (max-width: 1070px)
{
	[class^=description_boxes]
	{
		width: 31%;
		height: 80px;
	}
}

@media all and (min-width: 768px) and (max-width: 950px)
{
	[class^=description_boxes]
	{
		width: 31%;
		height: 80px;
	}
}

@media all and (min-width: 640px) and (max-width: 768px)
{
	[class^=description_boxes]
	{
		width: 45%;
		height: 70px;
	}
}

@media all and (min-width: 370px) and (max-width: 640px)
{
	[class^=description_boxes]
	{
		width: 45%;
		height: 75px;
	}
}

@media all and (max-width: 370px)
{
	[class^=description_boxes]
	{
		width: 95%;
		height: 73px;
	}

	.sub_description_title
	{
		font-size: 25px;
	}
}

/* mobile phone */
@media screen and (max-device-width: 768px)
{
		[class^=description_boxes]
	{
		width: 45%;
		height: 70px;
	}
}
