body
{
	color: #50394c;
	background-color: #b2b2b2;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

h1, h2, h3, h4
{
	font-family: 'Cabin', monospace;
}

/* HEADER */

.zone_header
{
	margin: 0px;
	text-align: center;
	background-color: #f4e1d2;
}

.img_profile
{
	display: inline-block
}

.text_profile
{
	display: inline-block;
}

/* INTRO */


.zone_intro
{
	width: 5vw;
	margin-top: 0;
	margin-bottom: 0;
	position: fixed;
	top: 0px;
}

[class^=categorie_intro_list_]
{
	color: #f4e1d2;
	background-color: #50394c;
	display: block;
	width: 100%;
	margin: 5px;
	padding: 10px;
	vertical-align: top;
}

