
.img_profile_div
{
	display: inline-block;
}

.img_profile
{
	display: inline-block;
	max-height: 250px;
}

.text_profile_div
{
	display: inline-block;
	text-align: left;
	padding-left: 20px
}

.profile_data
{
	padding : 2px;
}

#ahead_button
{
	position: fixed;
	bottom: 0px;
	right: 0px;
	font-size: 50px;
}


@media all and (min-width: 761px) and (max-width: 980px)
{

}

@media all and (min-width: 621px) and (max-width: 760px)
{
	.text_profile_div
	{
		width: 60%;
	}
}

@media all and (min-width: 481px) and (max-width: 620px)
{
	.text_profile_div
	{
		width: 50%;
		font-size: 14px;
	}
}

@media all and (max-width: 480px)
{
	.text_profile_div
	{
		width: 90%;
		font-size: 14px;
		padding-left: 0px
	}
}
